@import '../../variables';

.button{
  padding: 10px 20px;
  max-width: 250px;
  font-size: 40px;
  color: white;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  border: 3px solid $red;

  &--type-primary{
    background: $dark-grey;
    transition: 500ms;

    &:hover{
      color: $red;
    }
  }
}